/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Typography */

/* The typographic scale is 1.25, starting with a base size of 16 and a line height of 1.5. */

/* Mobile Type */

h1 {
  font-size: 2.441rem;
  line-height: 1.125;
}

h2 {
  font-size: 2.441rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.563rem;
  margin: 1rem 0;
}

.card h3 {
  font-size: 1.563rem;
}

h1,
h2,
h3,
p {
  font-weight: 200;
  margin-bottom: 1rem;
}

p {
  font-weight: 300;
}

a {
  font-size: 1.125rem;
}

/* Desktop Type */

@media screen and (min-width: 720px) {
  h1 {
    font-size: 3.815rem;
    line-height: 1.125;
  }
  
  h2 {
    font-size: 3.052rem;
    line-height: 1.2;
  }
  
  h3 {
    font-size: 2.441rem;
    line-height: 1.2;
  }
}